@model animeAlley.Models.Topicos

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Topicos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.comentario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.comentario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataPost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataPost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.utilizadorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.utilizadorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.comentariosID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.comentariosID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
