@model animeAlley.Models.Show

@{
    ViewData["Title"] = Model.Nome;
}

<div class="show-banner" style="background-image: url('/images/showBanner/@Html.DisplayFor(Model => Model.Banner)')">
    <div class="show-banner-shadow"></div>
</div>
<div class="bg-secondary">
    <div class="show-header container">
        <div class="show-cover">
            <div class="cover">
                <img src="~/images/showCover/@Html.DisplayFor(Model => Model.Imagem)" alt="@Html.DisplayFor(Model => Model.Nome)" />
            </div>      
            <a href="#">Adicionar +</a>
        </div>
        <div class="show-sinopse">
            <h2 class="fw-bold">@Html.DisplayFor(Model => Model.Nome)</h2>
            <p>@Html.DisplayFor(Model => Model.Sinopse)</p>
        </div>
    </div>
</div>

<div class="container py-5 px-0 show-content">
    <div class="show-info bg-secondary">
        <div class="data">
            <h3>Status</h3>
            <p>@Html.DisplayFor(Model => Model.Status)</p>
        </div>

        <div class="data">
            <h3>Ano de Lançamento</h3>
            <p>@Html.DisplayFor(Model => Model.Ano)</p>
        </div>

        <div class="data">
            <h3>Avaliação</h3>
            <p>@Html.DisplayFor(Model => Model.Nota)</p>
        </div>

        <div class="data">
            <h3>Popularidade</h3>
            <p>@Html.DisplayFor(Model => Model.Views)</p>
        </div>

        <div class="data">
            <h3>Estúdio</h3>
            <a asp-controller="Studios" asp-action="Details" asp-route-id="@Model.Studio.Id">@Html.DisplayFor(Model => Model.Studio.Nome)</a>
        </div>

        <div class="data">
            <h3>Origem</h3>
            <p>@Html.DisplayFor(Model => Model.Fonte)</p>
        </div>

        <div class="data">
            <h3>Gêneros</h3>
            <p>@Html.DisplayFor(Model => Model.GenerosShows)</p>
        </div>
    </div>

    <div class="show-section">
        <div class="mb-4">
            <h3>Personagens</h3>
            <div class="show-personagens">
                @foreach (var p in Model.Personagens)
                {
                    <div class="personagem bg-secondary">
                        <a asp-controller="Personagens" asp-action="Details" asp-route-id="@p.Id">
                            <div class="cover">
                                <img src="~/images/personagensFoto/@p.Foto" alt="@p.Nome">
                            </div>
                        </a>
                        <a class="nome" asp-controller="Personagens" asp-action="Details" asp-route-id="@p.Id">@p.Nome</a>
                        <p class="info">@p.TipoPersonagem</p>
                    </div>
                }
            </div>
        </div>

        <div class="mb-4">
            <h3>Autor</h3>
            <div class="show-personagens">
                @foreach (var p in Model.Personagens)
                {
                    <div class="personagem bg-secondary">
                        <a asp-controller="Personagens" asp-action="Details" asp-route-id="@p.Id">
                            <div class="cover">
                                <img src="~/images/personagensFoto/@p.Foto" alt="@p.Nome">
                            </div>
                        </a>
                        <a class="nome" asp-controller="Personagens" asp-action="Details" asp-route-id="@p.Id">@p.Nome</a>
                        <p class="info">@p.TipoPersonagem</p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>