@model animeAlley.Models.Show

@{
    ViewData["Title"] = "Details";
}

<div class="show-banner" style="background-image: url('/images/showBanner/@Html.DisplayFor(Model => Model.Banner)')">
    <div class="show-banner-shadow"></div>
</div>
<div class="bg-secondary">
    <div class="show-header container">
        <div class="show-cover">
            <div class="cover">
                <img src="~/images/showCover/@Html.DisplayFor(Model => Model.Imagem)" alt="@Html.DisplayFor(Model => Model.Nome)" />
            </div>      
            <a href="#">Adicionar +</a>
        </div>
        <div class="show-sinopse">
            <h2 class="fw-bold">@Html.DisplayFor(Model => Model.Nome)</h2>
            <p>@Html.DisplayFor(Model => Model.Sinopse)</p>
        </div>
    </div>
</div>

<div class="container py-5 px-0 show-content">
    <div class="show-info bg-secondary">
        <div class="data">
            <h3>Status</h3>
            <p>@Html.DisplayFor(Model => Model.Status)</p>
        </div>

        <div class="data">
            <h3>Ano de Lançamento</h3>
            <p>@Html.DisplayFor(Model => Model.Ano)</p>
        </div>

        <div class="data">
            <h3>Avaliação</h3>
            <p>@Html.DisplayFor(Model => Model.Nota)</p>
        </div>

        <div class="data">
            <h3>Popularidade</h3>
            <p>@Html.DisplayFor(Model => Model.Views)</p>
        </div>

        <div class="data">
            <h3>Estúdio</h3>
            <p>@Html.DisplayFor(Model => Model.Studio.Nome)</p>
        </div>

        <div class="data">
            <h3>Origem</h3>
            <p>@Html.DisplayFor(Model => Model.Fonte)</p>
        </div>

        <div class="data">
            <h3>Gêneros</h3>
            <p>@Html.DisplayFor(Model => Model.GenerosShows)</p>
        </div>
    </div>

    <div class="">

    </div>
</div>

@* <div> *@
@*     <h4>Show</h4> *@
@*     <hr /> *@
@*     <dl class="row"> *@
@*         <dt class = "col-sm-2"> *@
@*             @Html.DisplayNameFor(model => model.Nome) *@
@*         </dt> *@
@*         <dd class = "col-sm-10"> *@
@*             @Html.DisplayFor(model => model.Nome) *@
@*         </dd> *@
@*         <dt class = "col-sm-2"> *@
@*             @Html.DisplayNameFor(model => model.Sinopse) *@
@*         </dt> *@
@*         <dd class = "col-sm-10"> *@
@*             @Html.DisplayFor(model => model.Sinopse) *@
@*         </dd> *@
@*         <dt class = "col-sm-2"> *@
@*             @Html.DisplayNameFor(model => model.Tipo) *@
@*         </dt> *@
@*         <dd class = "col-sm-10"> *@
@*             @Html.DisplayFor(model => model.Tipo) *@
@*         </dd> *@
@*         <dt class = "col-sm-2"> *@
@*             @Html.DisplayNameFor(model => model.Status) *@
@*         </dt> *@
@*         <dd class = "col-sm-10"> *@
@*             @Html.DisplayFor(model => model.Status) *@
@*         </dd> *@
@*         <dt class = "col-sm-2"> *@
@*             @Html.DisplayNameFor(model => model.Nota) *@
@*         </dt> *@
@*         <dd class = "col-sm-10"> *@
@*             @Html.DisplayFor(model => model.Nota) *@
@*         </dd> *@
@*         <dt class = "col-sm-2"> *@
@*             @Html.DisplayNameFor(model => model.Ano) *@
@*         </dt> *@
@*         <dd class = "col-sm-10"> *@
@*             @Html.DisplayFor(model => model.Ano) *@
@*         </dd> *@
@*         <dt class = "col-sm-2"> *@
@*             @Html.DisplayNameFor(model => model.Imagem) *@
@*         </dt> *@
@*         <dd class = "col-sm-10"> *@
@*             @Html.DisplayFor(model => model.Imagem) *@
@*         </dd> *@
@*         <dt class = "col-sm-2"> *@
@*             @Html.DisplayNameFor(model => model.Trailer) *@
@*         </dt> *@
@*         <dd class = "col-sm-10"> *@
@*             @Html.DisplayFor(model => model.Trailer) *@
@*         </dd> *@
@*         <dt class = "col-sm-2"> *@
@*             @Html.DisplayNameFor(model => model.Views) *@
@*         </dt> *@
@*         <dd class = "col-sm-10"> *@
@*             @Html.DisplayFor(model => model.Views) *@
@*         </dd> *@
@*         <dt class = "col-sm-2"> *@
@*             @Html.DisplayNameFor(model => model.Fonte) *@
@*         </dt> *@
@*         <dd class = "col-sm-10"> *@
@*             @Html.DisplayFor(model => model.Fonte) *@
@*         </dd> *@
@*         <dt class = "col-sm-2"> *@
@*             @Html.DisplayNameFor(model => model.Studio) *@
@*         </dt> *@
@*         <dd class = "col-sm-10"> *@
@*             @Html.DisplayFor(model => model.Studio.Nome) *@
@*         </dd> *@
@*         <dt class = "col-sm-2"> *@
@*             @Html.DisplayNameFor(model => model.Autor) *@
@*         </dt> *@
@*         <dd class = "col-sm-10"> *@
@*             @Html.DisplayFor(model => model.Autor.Foto) *@
@*         </dd> *@
@*     </dl> *@
@* </div> *@
@* <div> *@
@*     <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> | *@
@*     <a asp-action="Index">Back to List</a> *@
@* </div> *@
