@model animeAlley.Models.Personagens

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Personagens</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipoPersonagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipoPersonagem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sinopse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sinopse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.foto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.foto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.obras)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.obras)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
