@model IEnumerable<animeAlley.Models.Personagem>

@{
    ViewData["Title"] = "Personagens";
}

<div class="py-5 container min-vh-100">

    @if (User.IsInRole("Admin"))
    {
        <p>
            <a class="text-muted pointer-event" asp-action="Create">Create New</a>
        </p>
    }

    <form asp-action="Index" method="get" class="mb-4">
        <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" placeholder="Buscar personagens..." class="form-control" />
    </form>

    <div class="show-grid-container">

        @foreach (var item in Model)
        {
            @if (!string.IsNullOrEmpty(item.Foto))
            {
                <div class="show-grid-item">
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <img src="~/images/personagensFoto/@item.Foto" alt="@item.Nome" title="@item.Nome" height="100px" />
                    </a>
                </div>
            }
            else
            {
                <div class="show-grid-item">
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <img src="~/img/noimageplaceholder.png" alt="@item.Nome" title="@item.Nome" height="100px" />
                    </a>
                </div>
            }
        }

    </div>
</div>